#–î–æ–º–∞—à–Ω—î –∑–∞–≤–¥–∞–Ω–Ω—è –¥–æ —Ç–µ–º apply(), groupby(), pivot_table()

–í —Ü—å–æ–º—É –¥–æ–º–∞—à–Ω—å–æ–º—É –∑–∞–≤–¥–∞–Ω–Ω—ñ –ø—Ä–æ–¥–æ–≤–∂—É—î–º–æ –ø—Ä–∞—Ü—é–≤–∞—Ç–∏ –∑ –Ω–∞–±–æ—Ä–æ–º –¥–∞–Ω–∏—Ö `supermarket_sales.csv`.

0. –Ü–º–ø–æ—Ä—Ç—É–π—Ç–µ –±—ñ–±–ª—ñ–æ—Ç–µ–∫—É pandas —Ç–∞ –∑—á–∏—Ç–∞–π—Ç–µ –¥–∞–Ω—ñ —É –∑–º—ñ–Ω–Ω—É `df` —Ç–∏–ø—É `pandas.DataFrame`.

In [1]:
import pandas as pd

df = pd.read_csv('../data/supermarket_sales.csv')

1. –î–æ—Å–ª—ñ–¥–∏–º–æ, —è–∫–∏–π —Ñ—ñ–ª—ñ–∞–ª —Å—É–ø–µ—Ä–º–∞—Ä–∫–µ—Ç—É ('Branch') —î –Ω–∞–π–ø—Ä–∏–±—É—Ç–∫–æ–≤—ñ—à–∏–º. –î–ª—è —Ü—å–æ–≥–æ –∑–Ω–∞–π–¥—ñ—Ç—å —Å—É–º–∞—Ä–Ω–∏–π –ø—Ä–∏–±—É—Ç–æ–∫ –∑–∞ –∫–æ–∂–Ω–∏–º —Ñ—ñ–ª—ñ–∞–ª–æ–º —ñ –≤–∏—è–≤—ñ—Ç—å, —è–∫–∏–π —Ñ—ñ–ª—ñ–∞–ª –º–∞—î –Ω–∞–π–≤–∏—â–∏–π.

In [2]:
df.groupby('Branch')['gross income'].sum()

Branch
A    5057.1605
B    5057.0320
C    5265.1765
Name: gross income, dtype: float64

`Gross Income`: Profit earned from the transaction.

–ó–∞–≥–∞–ª—å–Ω–∞ —Å—É–º–∞ –ø—Ä–∏–±—É—Ç–∫—É –Ω–∞–π–±—ñ–ª—å—à–∞ –≤ —Ñ—ñ–ª—ñ–∞–ª—ñ `C`

2. –í —è–∫–æ–º—É –º—ñ—Å—Ç—ñ –∑–Ω–∞–π—Ö–æ–¥–∏—Ç—å—Å—è —Ñ—ñ–ª—ñ–∞–ª –∑ –Ω–∞–π–≤–∏—â–∏–º –ø—Ä–∏–±—É—Ç–∫–æ–º? –ú–æ–∂–µ –≤ —Ç–æ–º—É –º—ñ—Å—Ü—ñ –Ω–∞–º —Ä–æ–∑–º—ñ—Ç–∏—Å—Ç–∏ —â–µ –æ–¥–∏–Ω –º–∞–≥–∞–∑–∏–Ω.  
–ó–Ω–∞–π–¥—ñ—Ç—å –≤—ñ–¥–ø–æ–≤—ñ–¥—å –∑–∞ –¥–æ–ø–æ–º–æ–≥–æ—é —Ñ—É–Ω–∫—Ü—ñ–æ–Ω–∞–ª—É Pandas.

In [3]:
df.groupby(['Branch', 'City'])['gross income'].sum().idxmax()

('C', 'Naypyitaw')

–§—ñ–ª—ñ–∞–ª `C` –∑ –Ω–∞–π–±—ñ–ª—å—à–∏–º –ø—Ä–∏–±—É—Ç–∫–æ–º –∑–Ω–∞—Ö–æ–¥–∏—Ç—å—Å—è –≤ –º—ñ—Å—Ç—ñ `Naypyitaw`

3.1. –°—Ç–≤–æ—Ä—ñ—Ç—å –∑–≤–æ–¥–Ω—É —Ç–∞–±–ª–∏—Ü—é, —è–∫–∞ –ø–æ–∫–∞–∂–µ, —Å–∫—ñ–ª—å–∫–∏ –ø–æ–∫—É–ø–æ–∫ (—ñ–Ω–≤–æ–π—Å—ñ–≤) –±—É–ª–æ –∑—Ä–æ–±–ª–µ–Ω–æ –≤ –∫–æ–∂–Ω—ñ–π –∑ —Ñ—ñ–ª—ñ–π (`Branch`) –∑–∞ —Ä—ñ–∑–Ω–∏–º–∏ –∫–∞—Ç–µ–≥–æ—Ä—ñ—è–º–∏ —Ç–æ–≤–∞—Ä—ñ–≤. –ó–∞–ø–∏—à—ñ—Ç—å —Ç–∞–±–ª–∏—Ü—é –≤ –∑–º—ñ–Ω–Ω—É `invoices_by_category` —ñ –≤–∏–≤–µ–¥—ñ—Ç—å –∑–º—ñ–Ω–Ω—É –Ω–∞ –µ–∫—Ä–∞–Ω.
–¶—è —Ç–∞–±–ª–∏—Ü—è –¥–æ–ø–æ–º–æ–∂–µ –ø—Ä–æ–∞–Ω–∞–ª—ñ–∑—É–≤–∞—Ç–∏, –≤ —è–∫—ñ–π —Ñ—ñ–ª—ñ—ó –∫—É–ø—É—é—Ç—å –Ω–∞–π–±—ñ–ª—å—à–µ —Ç–æ–≤–∞—Ä—ñ–≤ –∫–æ–∂–Ω–æ—ó –∑ –∫–∞—Ç–µ–≥–æ—Ä—ñ–π.

In [4]:
invoices_by_category = df.pivot_table(index = 'Branch', columns = 'Product line', values = 'Invoice ID', aggfunc = 'count')
invoices_by_category

Product line,Electronic accessories,Fashion accessories,Food and beverages,Health and beauty,Home and lifestyle,Sports and travel
Branch,,,,,,
A,60,51,58,47,65,59
B,55,62,50,53,50,62
C,55,65,66,52,45,45

3.2. –í–∏–∫—Ä–∏—Å—Ç–æ–≤—É—é—á–∏ –∑–º—ñ–Ω–Ω—É `invoices_by_category` –¥–∞–π—Ç–µ –≤—ñ–¥–ø–æ–≤—ñ–¥—å –ø—Ä–æ–≥—Ä–∞–º–Ω–æ (—Ç–æ–±—Ç–æ –∑–Ω–∞—á–µ–Ω–Ω—è —Ç—Ä–µ–±–∞ –Ω–µ –ø—Ä–æ—Å—Ç–æ –∑–Ω–∞–π—Ç–∏ –æ—á–∏–º–∞, –∞ –≤–∏–≤–µ—Å—Ç–∏ –∑–∞ –¥–æ–ø–æ–º–æ–≥–æ—é –∫–æ–¥—É), –≤ —è–∫–æ–º—É —Ñ—ñ–ª—ñ–∞–ª—ñ –º–∞–≥–∞–∑–∏–Ω—É (`Branch`) –Ω–∞–π–±—ñ–ª—å—à–µ —ñ–Ω–≤–æ–π—Å—ñ–≤ —ñ–∑ –ø–æ–∫—É–ø–∫–æ—é —Ç–æ–≤–∞—Ä—ñ–≤ –∫–∞—Ç–µ–≥–æ—Ä—ñ—ó "–ï–ª–µ–∫—Ç—Ä–æ–Ω–Ω—ñ –∞–∫—Å–µ—Å—É–∞—Ä–∏" (`Electronic accessories`)?

In [5]:
invoices_by_category['Electronic accessories'].idxmax()

'A'

–ù–∞–π–±—ñ–ª—å—à–µ —ñ–Ω–≤–æ–π—Å—ñ–≤ —ñ–∑ –ø–æ–∫—É–ø–∫–æ—é —Ç–æ–≤–∞—Ä—ñ–≤ –∫–∞—Ç–µ–≥–æ—Ä—ñ—ó "–ï–ª–µ–∫—Ç—Ä–æ–Ω–Ω—ñ –∞–∫—Å–µ—Å—É–∞—Ä–∏" –≤ —Ñ—ñ–ª—ñ–∞–ª—ñ `A`

4-6. **–¢–≤–æ—Ä—á–µ –∑–∞–≤–¥–∞–Ω–Ω—è –Ω–∞ —Ä–æ–∑–≤–∏—Ç–æ–∫ –∞–Ω–∞–ª—ñ—Ç–∏—á–Ω–æ–≥–æ –º–∏—Å–ª–µ–Ω–Ω—è**

–ö—Ä–æ–∫ 1. –°—Ñ–æ—Ä–º—É–ª—é–π—Ç–µ –¢–†–ò –ø–∏—Ç–∞–Ω–Ω—è (–≥—ñ–ø–æ—Ç–µ–∑–∏) –¥–æ –Ω–∞—è–≤–Ω–∏—Ö –¥–∞–Ω–∏—Ö, —è–∫—ñ –¥–æ–ø–æ–º–æ–≥–ª–∏ –± –≤–∞–º –∑—Ä–æ–∑—É–º—ñ—Ç–∏, —è–∫—ñ –∫–æ—Ä–∏—Å—Ç—É–≤–∞—á—ñ —â–æ, –¥–µ —Ç–∞ –∫–æ–ª–∏ –Ω–∞–π–±—ñ–ª—å—à–µ/–Ω–∞–π–º–µ–Ω—à–µ –∫—É–ø—É—é—Ç—å, –∞–±–∏ –¥–∞—Ç–∏ –Ω–∞ –æ—Å–Ω–æ–≤—ñ —Ü–∏—Ö –≥—ñ–ø–æ—Ç–µ–∑ —Ä–µ–∫–æ–º–µ–Ω–¥–∞—Ü—ñ—ó –±—ñ–∑–Ω–µ—Å—É. –ó–≤—ñ—Å–Ω–æ –ø–∏—Ç–∞–Ω–Ω—è –º–∞—é—Ç—å –±—É—Ç–∏ –Ω–µ —Ç–∏–º–∏, –Ω–∞ —è–∫—ñ –º–∏ –≤–∂–µ –≤—ñ–¥–ø–æ–≤—ñ–ª–∏ –≤ –∑–∞–≤–¥–∞–Ω–Ω—è—Ö –º–æ–¥—É–ª—é.

–ö—Ä–æ–∫ 2. –ó–Ω–∞–π–¥—ñ—Ç—å –≤—ñ–¥–ø–æ–≤—ñ–¥—ñ –Ω–∞ —Å–≤–æ—ó –ø–∏—Ç–∞–Ω–Ω—è –∑ –¥–æ–ø–æ–º–æ–≥–æ—é —Ñ—É–Ω–∫—Ü—ñ–æ–Ω–∞–ª—É pandas.

–ö—Ä–æ–∫ 3. –ù–∞–ø–∏—à—ñ—Ç—å, —è–∫ –≤—ñ–¥–ø–æ–≤—ñ–¥—å –Ω–∞ —Ü–µ –ø–∏—Ç–∞–Ω–Ω—è –º–æ–∂–µ –±—É—Ç–∏ –≤–∏–∫–æ—Ä–∏—Å—Ç–∞–Ω–∞ –¥–ª—è –ø—Ä–∏–π–Ω—è—Ç—Ç—è –±—ñ–∑–Ω–µ—Å —Ä—ñ—à–µ–Ω—å.   
   
 –ü–∏—Ç–∞–Ω–Ω—è –º–æ–∂—É—Ç—å –±—É—Ç–∏ –±—É–¥—å-—è–∫–æ—ó —Å–∫–ª–∞–¥–Ω–æ—Å—Ç—ñ, –∞–ª–µ —ó—Ö –º–∞—î –±—É—Ç–∏ 3. –ö–æ–∂–Ω–µ –ø–∏—Ç–∞–Ω–Ω—è –æ—Ü—ñ–Ω—é—î—Ç—å—Å—è —è–∫ 1 –∑–∞–≤–¥–∞–Ω–Ω—è. –ë–µ–∑ –≤–∏–∫–æ–Ω–∞–Ω–Ω—è —Ü—å–æ–≥–æ –∑–∞–≤–¥–∞–Ω–Ω—è –î–ó –Ω–µ –ø—Ä–∏–π–º–∞—î—Ç—å—Å—è. –Ø–∫—â–æ —î –ø–∏—Ç–∞–Ω–Ω—è —â–æ–¥–æ –≤–∏–∫–æ–Ω–∞–Ω–Ω—è - –ø–∏—à—ñ—Ç—å —É —á–∞—Ç üôå

In [6]:
# –ü–∏—Ç–∞–Ω–Ω—è 1: –ß–∏ –≤–ø–ª–∏–≤–∞—î —Å—Ç–∞—Ç—å –∫–ª—ñ—î–Ω—Ç–∞ –Ω–∞ –∫—ñ–ª—å–∫—ñ—Å—Ç—å –ø—Ä–∏–¥–±–∞–Ω–∏—Ö –ø—Ä–æ–¥—É–∫—ñ–≤ –≤ —Ä–æ–∑—Ä—ñ–∑—ñ –∫–∞—Ç–µ–≥–æ—Ä—ñ–π?
quantity_by_gender = df.pivot_table(
    index = 'Product line', 
    columns = 'Gender', 
    values = 'Quantity', 
    aggfunc = ['sum', 'mean'], 
    margins=True).round(2)

quantity_by_gender

                          sum               mean
Gender                 Female  Male   All Female  Male   All
Product line
Electronic accessories    488   483   971   5.81  5.62  5.71
Fashion accessories       530   372   902   5.52  4.54  5.07
Food and beverages        514   438   952   5.71  5.21  5.47
Health and beauty         343   511   854   5.36  5.81  5.62
Home and lifestyle        498   413   911   6.30  5.10  5.69
Sports and travel         496   424   920   5.64  5.44  5.54
All                      2869  2641  5510   5.73  5.29  5.51

–Ø–∫ –ø–æ–∫–∞–∑—É—î –∞–Ω–∞–ª—ñ–∑, –∂—ñ–Ω–∫–∏ –≤ —Ü—ñ–ª–æ–º—É –∫—É–ø—É—é—Ç—å –±—ñ–ª—å—à–µ —Ç–æ–≤–∞—Ä—ñ–≤ –∑–∞ —á–æ–ª–æ–≤—ñ–∫—ñ–≤, —è–∫ –≤ —Ü—ñ–ª–æ–º—É —Ç–∞–∫ —ñ –≤ —Å–µ—Ä–µ–¥–Ω—å–æ–º—É –∑–∞ –æ–¥–Ω—É –ø–æ–∫—É–ø–∫—É. 
–ù–∞–π–±—ñ–ª—å—à–µ –ø–æ–∫—É–ø–æ–∫ –∂—ñ–Ω–∫–∏ –∑–¥—ñ–π—Å–Ω—é—é—Ç—å –≤ –∫–∞—Ç–µ–≥–æ—Ä—ñ—è—Ö `Fashion accessories` —Ç–∞ `Food and beverages`.

–Ñ–¥–∏–Ω–∞ –∫–∞—Ç–µ–≥–æ—Ä—ñ—è —Ç–æ–≤–∞—Ä—ñ–≤, –≤ —è–∫—ñ–π –∑–∞ –∫—ñ–ª—å–∫—ñ—Å—Ç—é –ø–æ–∫—É–ø–æ–∫ –ø–µ—Ä–µ–≤–∞–∂–∞—é—Ç—å —á–æ–ª–æ–≤—ñ–∫–∏ - —Ü–µ `Health and beauty`.

–û—Ç–∂–µ, —Ä–∞—Ü—ñ–æ–Ω–∞–ª—å–Ω–æ —Ä–æ–∑—Ä–æ–±–ª—è—Ç–∏ –º–∞—Ä–∫–µ—Ç–∏–Ω–≥–æ–≤—ñ –∫–∞–º–ø–∞–Ω—ñ—ó —Å–ø—Ä—è–º–æ–≤–∞–Ω—ñ –Ω–∞ –∂—ñ–Ω–æ—á—É –∞—É–¥–∏—Ç–æ—Ä—ñ—é.

In [7]:
# –ü–∏—Ç–∞–Ω–Ω—è 2: –í —è–∫–æ–º—É —Ñ—ñ–ª—ñ–∞–ª—ñ –∫–ª—ñ—î–Ω—Ç–∏ –±—ñ–ª—å—à –∑–∞–¥–æ–≤–æ–ª–µ–Ω—ñ –ø–æ–∫—É–ø–∫–∞–º–∏?
df.groupby(['Branch', 'City'])['Rating'].agg(['count', 'mean', 'min', 'max']).sort_values(by='mean', ascending=False).round(2)

                  count  mean  min   max
Branch City
C      Naypyitaw    328  7.07  4.0  10.0
A      Yangon       340  7.03  4.0  10.0
B      Mandalay     332  6.82  4.0  10.0

–ù–∞–π–≤–∏—â—ñ–π —Å–µ—Ä–µ–¥–Ω—ñ–π —Ä–µ–π—Ç–∏–Ω–≥ –∑–∞–¥–æ–≤–æ–ª–µ–Ω–Ω—è –∫–ª—ñ—î–Ω—Ç—ñ–≤ –≤ —Ñ—ñ–ª—ñ–∞–ª—ñ `C` –≤ –º—ñ—Å—Ç—ñ `Naypyitaw`, –∞ –Ω–∞–π–≥—ñ—Ä—à–∏–π –≤ –º—ñ—Å—Ç—ñ `Mandalay`. –ü—Ä–∏ —Ü—å–æ–º—É –≤ –º—ñ—Å—Ç—ñ `Naypyitaw` –∑–∞ –¥–æ—Å–ª—ñ–¥–∂—É–≤–∞–Ω–∏–π –ø–µ—Ä—ñ–æ–¥ –∑–¥—ñ–π—Å–Ω–µ–Ω–æ –º–µ–Ω—à–µ –ø–æ–∫—É–ø–æ–∫, –Ω—ñ–∂ –≤ —ñ–Ω—à–∏—Ö –º—ñ—Å—Ç–∞—Ö. 

–û—Ç–∂–µ –ø–æ—Ç—Ä—ñ–±–Ω–æ –¥–æ—Å–ª—ñ–¥–∏—Ç–∏ —á–∏–º –∑–∞–¥–æ–≤–æ–ª–µ–Ω—ñ –∫–ª—ñ—î–Ω—Ç–∏ –≤ –º—ñ—Å—Ç—ñ `Naypyitaw` —ñ —Å—Ç–∏–º—É–ª—é–≤–∞—Ç–∏ —ó—Ö –∑–¥—ñ–π—Å–Ω—é–≤–∞—Ç–∏ –±—ñ–ª—å—à–µ –ø–æ–∫—É–ø–æ–∫. –í–æ–¥–Ω–æ—á–∞—Å, –Ω–µ–æ–±—Ö—ñ–¥–Ω–æ –¥–æ—Å–ª—ñ–¥–∏—Ç–∏ –ø—Ä–∏—á–∏–Ω–∏ –Ω–∏–∑—å–∫–æ–≥–æ —Ä–µ–π—Ç–∏–Ω–≥—É –≤ –º—ñ—Å—Ç—ñ `Mandalay` —ñ –ø—Ä–æ–≤–µ—Å—Ç–∏ –∑–∞—Ö–æ–¥–∏ –¥–ª—è –ø—ñ–¥–≤–∏—â–µ–Ω–Ω—è —Ä–µ–π—Ç–∏–Ω–≥—É.

In [8]:
# –ü–∏—Ç–∞–Ω–Ω—è 3: –Ø–∫–∏–π —Ñ—ñ–ª—ñ–∞–ª –ø—Ä–∏–Ω—ñ—Å –Ω–∞–π–±—ñ–ª—å—à–µ –∫–æ—à—Ç—ñ–≤ –∑–∞ –º—ñ—Å—è—Ü—è–º–∏?

df['Date_month'] = pd.to_datetime(df['Date'], format='%m/%d/%Y').dt.month

income_by_month = df.pivot_table(
    index = 'Date_month', 
    columns = 'Branch', 
    values = 'gross income', 
    aggfunc = 'sum', 
    margins=True,
    margins_name='Total').round(2)

income_by_month

Branch            A        B        C     Total
Date_month
1           1841.96  1770.29  1925.46   5537.71
2           1421.91  1639.25  1568.33   4629.49
3           1793.29  1647.49  1771.38   5212.17
Total       5057.16  5057.03  5265.18  15379.37

–ù–∞–π–±—ñ–ª—å—à—É —Å—É–º—É –ø—Ä–∏–±—É—Ç–∫—É –∑ –¥–æ—Å–ª—ñ–¥–∂—É–≤–∞–Ω–∏–π –ø–µ—Ä—ñ–æ–¥ –ø—Ä–∏–Ω—ñ—Å —Ñ—ñ–ª—ñ–∞–ª `C`. –¶–µ –π –∂–µ —Ñ—ñ–ª—ñ–∞–ª –±—É–≤ –Ω–∞–π–±—ñ–ª—å—à –ø—Ä–∏–±—É—Ç–∫–æ–≤–∏–π –≤ —Å–∞–º–∏–π –ø—Ä–∏–±—É—Ç–∫–æ–≤–∏–π –º—ñ—Å—è—Ü—å - —Å—ñ—á–µ–Ω—å.

–í –ª—é—Ç–æ–º—É —Å–ø–æ—Å—Ç–µ—Ä—ñ–≥–∞—î—Ç—å—Å—è —Å–ø–∞–¥ –ø—Ä–∏–±—É—Ç–∫—É –∑–∞ –≤—Å—ñ–º–∞ —Ñ—ñ–ª—ñ–∞–ª–∞–º–∏, –Ω–∞–π–±—ñ–ª—å—à –ø—Ä–∏–±—É—Ç–∫–æ–≤–∏–π –≤ —Ü–µ–π –º—ñ—Å—è—Ü—å - —Ñ—ñ–ª—ñ–∞–ª `B`. –í –±–µ—Ä–µ–∑–Ω—ñ –Ω–∞–π–±—ñ–ª—å—à –ø—Ä–∏–±—É—Ç–∫–æ–≤–∏–º —Å—Ç–∞–≤ —Ñ—ñ–ª—ñ–∞–ª `A`.

–í —Ü—ñ–ª–æ–º—É –ø—Ä–∏–±—É—Ç–∫–æ–≤—ñ—Å—Ç—å —Ñ—ñ–ª—ñ–∞–ª—É `B` —î –±—ñ–ª—å—à —Å—Ç–∞–±—ñ–ª—å–Ω–æ—é –Ω–∞ –≤—ñ–¥–º—ñ–Ω—É –≤—ñ–¥ —Ñ—ñ–ª—ñ–∞–ª—ñ–≤ `A` —Ç–∞ `C`, —è–∫—ñ –ø—ñ–¥–¥–∞—é—Ç—å—Å—è —Ä–∏–∑–∏–∫—É —Å–µ–∑–æ–Ω–Ω–∏—Ö –∫–æ–ª–∏–≤–∞–Ω—å.

–û—Ç–∂–µ, –ø–æ—Ç—Ä—ñ–±–Ω–æ –≤–∏—è–≤–∏—Ç–∏ –ø—Ä–∏—á–∏–Ω–∏ –∑–Ω–∞—á–Ω–∏—Ö –∫–æ–ª–∏–≤–∞–Ω—å –ø—Ä–æ–¥–∞–∂—ñ–≤ –∑–∞ –º—ñ—Å—è—Ü—è–º–∏ —ñ –ø—Ä–æ–≤–µ—Å—Ç–∏ –∑–∞—Ö–æ–¥–∏ —â–æ–¥–æ —ó—Ö –º—ñ–Ω—ñ–º—ñ–∑–∞—Ü—ñ—ó –Ω–∞ –æ—Å–Ω–æ–≤—ñ –¥–æ—Å–ª—ñ–¥–∂–µ–Ω–Ω—è –¥—ñ—è–ª—å–Ω–æ—Å—Ç—ñ —Ñ—ñ–ª—ñ–∞–ª—É `B`. –û—Å–æ–±–ª–∏–≤—É —É–≤–∞–≥—É —Å–ª—ñ–¥ –∑–≤–µ—Ä–Ω—É—Ç–∏ –Ω–∞ —Ñ—ñ–ª—ñ–∞–ª `A`, –∫–æ–ª–∏–≤–∞–Ω–Ω—è –ø—Ä–∏–±—É—Ç–∫–æ–≤–æ—Å—Ç—ñ –≤ —è–∫–æ–º—É —î –Ω–∞–π–±—ñ–ª—å—à–∏–º–∏. –¢–∞–∫–æ–∂ –¥–æ—Ü—ñ–ª—å–Ω–æ –ø—Ä–æ–∞–Ω–∞–ª—ñ–∑—É–≤–∞—Ç–∏ –ø—Ä–∏—á–∏–Ω–∏ –Ω–∏–∑—å–∫–æ—ó –ø—Ä–∏–±—É—Ç–∫–æ–≤–æ—Å—Ç—ñ —Ñ—ñ–ª—ñ–∞–ª—É `B` –≤ –Ω–∞–π–±—ñ–ª—å—à "–≥–∞—Ä—è—á–æ–º—É" –º—ñ—Å—è—Ü—ñ - —Å—ñ—á–Ω—ñ.