#Домашнє завдання до тем apply(), groupby(), pivot_table()

В цьому домашньому завданні продовжуємо працювати з набором даних `supermarket_sales.csv`.

0. Імпортуйте бібліотеку pandas та зчитайте дані у змінну `df` типу `pandas.DataFrame`.

In [1]:
import pandas as pd

df = pd.read_csv('../data/supermarket_sales.csv')

1. Дослідимо, який філіал супермаркету ('Branch') є найприбутковішим. Для цього знайдіть сумарний прибуток за кожним філіалом і виявіть, який філіал має найвищий.

In [2]:
df.groupby('Branch')['gross income'].sum()

Branch
A    5057.1605
B    5057.0320
C    5265.1765
Name: gross income, dtype: float64

`Gross Income`: Profit earned from the transaction.

Загальна сума прибутку найбільша в філіалі `C`

2. В якому місті знайходиться філіал з найвищим прибутком? Може в тому місці нам розмітисти ще один магазин.  
Знайдіть відповідь за допомогою функціоналу Pandas.

In [3]:
df.groupby(['Branch', 'City'])['gross income'].sum().idxmax()

('C', 'Naypyitaw')

Філіал `C` з найбільшим прибутком знаходиться в місті `Naypyitaw`

3.1. Створіть зводну таблицю, яка покаже, скільки покупок (інвойсів) було зроблено в кожній з філій (`Branch`) за різними категоріями товарів. Запишіть таблицю в змінну `invoices_by_category` і виведіть змінну на екран.
Ця таблиця допоможе проаналізувати, в якій філії купують найбільше товарів кожної з категорій.

In [4]:
invoices_by_category = df.pivot_table(index = 'Branch', columns = 'Product line', values = 'Invoice ID', aggfunc = 'count')
invoices_by_category

Product line,Electronic accessories,Fashion accessories,Food and beverages,Health and beauty,Home and lifestyle,Sports and travel
Branch,,,,,,
A,60,51,58,47,65,59
B,55,62,50,53,50,62
C,55,65,66,52,45,45

3.2. Викристовуючи змінну `invoices_by_category` дайте відповідь програмно (тобто значення треба не просто знайти очима, а вивести за допомогою коду), в якому філіалі магазину (`Branch`) найбільше інвойсів із покупкою товарів категорії "Електронні аксесуари" (`Electronic accessories`)?

In [5]:
invoices_by_category['Electronic accessories'].idxmax()

'A'

Найбільше інвойсів із покупкою товарів категорії "Електронні аксесуари" в філіалі `A`

4-6. **Творче завдання на розвиток аналітичного мислення**

Крок 1. Сформулюйте ТРИ питання (гіпотези) до наявних даних, які допомогли б вам зрозуміти, які користувачі що, де та коли найбільше/найменше купують, аби дати на основі цих гіпотез рекомендації бізнесу. Звісно питання мають бути не тими, на які ми вже відповіли в завданнях модулю.

Крок 2. Знайдіть відповіді на свої питання з допомогою функціоналу pandas.

Крок 3. Напишіть, як відповідь на це питання може бути використана для прийняття бізнес рішень.   
   
 Питання можуть бути будь-якої складності, але їх має бути 3. Кожне питання оцінюється як 1 завдання. Без виконання цього завдання ДЗ не приймається. Якщо є питання щодо виконання - пишіть у чат 🙌

In [6]:
# Питання 1: Чи впливає стать клієнта на кількість придбаних продуків в розрізі категорій?
quantity_by_gender = df.pivot_table(
    index = 'Product line', 
    columns = 'Gender', 
    values = 'Quantity', 
    aggfunc = ['sum', 'mean'], 
    margins=True).round(2)

quantity_by_gender

                          sum               mean
Gender                 Female  Male   All Female  Male   All
Product line
Electronic accessories    488   483   971   5.81  5.62  5.71
Fashion accessories       530   372   902   5.52  4.54  5.07
Food and beverages        514   438   952   5.71  5.21  5.47
Health and beauty         343   511   854   5.36  5.81  5.62
Home and lifestyle        498   413   911   6.30  5.10  5.69
Sports and travel         496   424   920   5.64  5.44  5.54
All                      2869  2641  5510   5.73  5.29  5.51

Як показує аналіз, жінки в цілому купують більше товарів за чоловіків, як в цілому так і в середньому за одну покупку. 
Найбільше покупок жінки здійснюють в категоріях `Fashion accessories` та `Food and beverages`.

Єдина категорія товарів, в якій за кількістю покупок переважають чоловіки - це `Health and beauty`.

Отже, раціонально розробляти маркетингові кампанії спрямовані на жіночу аудиторію.

In [7]:
# Питання 2: В якому філіалі клієнти більш задоволені покупками?
df.groupby(['Branch', 'City'])['Rating'].agg(['count', 'mean', 'min', 'max']).sort_values(by='mean', ascending=False).round(2)

                  count  mean  min   max
Branch City
C      Naypyitaw    328  7.07  4.0  10.0
A      Yangon       340  7.03  4.0  10.0
B      Mandalay     332  6.82  4.0  10.0

Найвищій середній рейтинг задоволення клієнтів в філіалі `C` в місті `Naypyitaw`, а найгірший в місті `Mandalay`. При цьому в місті `Naypyitaw` за досліджуваний період здійснено менше покупок, ніж в інших містах. 

Отже потрібно дослідити чим задоволені клієнти в місті `Naypyitaw` і стимулювати їх здійснювати більше покупок. Водночас, необхідно дослідити причини низького рейтингу в місті `Mandalay` і провести заходи для підвищення рейтингу.

In [8]:
# Питання 3: Який філіал приніс найбільше коштів за місяцями?

df['Date_month'] = pd.to_datetime(df['Date'], format='%m/%d/%Y').dt.month

income_by_month = df.pivot_table(
    index = 'Date_month', 
    columns = 'Branch', 
    values = 'gross income', 
    aggfunc = 'sum', 
    margins=True,
    margins_name='Total').round(2)

income_by_month

Branch            A        B        C     Total
Date_month
1           1841.96  1770.29  1925.46   5537.71
2           1421.91  1639.25  1568.33   4629.49
3           1793.29  1647.49  1771.38   5212.17
Total       5057.16  5057.03  5265.18  15379.37

Найбільшу суму прибутку з досліджуваний період приніс філіал `C`. Це й же філіал був найбільш прибутковий в самий прибутковий місяць - січень.

В лютому спостерігається спад прибутку за всіма філіалами, найбільш прибутковий в цей місяць - філіал `B`. В березні найбільш прибутковим став філіал `A`.

В цілому прибутковість філіалу `B` є більш стабільною на відміну від філіалів `A` та `C`, які піддаються ризику сезонних коливань.

Отже, потрібно виявити причини значних коливань продажів за місяцями і провести заходи щодо їх мінімізації на основі дослідження діяльності філіалу `B`. Особливу увагу слід звернути на філіал `A`, коливання прибутковості в якому є найбільшими. Також доцільно проаналізувати причини низької прибутковості філіалу `B` в найбільш "гарячому" місяці - січні.