# –î–æ–º–∞—à–Ω—î –∑–∞–≤–¥–∞–Ω–Ω—è: –í–Ω–µ—Å–µ–Ω–Ω—è –æ–Ω–æ–≤–ª–µ–Ω—å –≤ –ë–î —ñ —Ä–æ–±–æ—Ç–∞ –∑ —Ç—Ä–∞–Ω–∑–∞–∫—Ü—ñ—è–º–∏

–¶–µ –î–ó –ø–µ—Ä–µ–¥–±–∞—á–µ–Ω–µ –ø—ñ–¥ –≤–∏–∫–æ–Ω–∞–Ω–Ω—è –Ω–∞ –ª–æ–∫–∞–ª—å–Ω—ñ–π –º–∞—à–∏–Ω—ñ. –í–∏–∫–æ–Ω–∞–Ω–Ω—è –∑ Google Colab –±—É–¥–µ —Å—É—Ç—Ç—î–≤–æ —É—Å–∫–ª–∞–¥–Ω–µ–Ω–µ.

## –ü—ñ–¥–≥–æ—Ç–æ–≤–∫–∞
1. –ü–µ—Ä–µ–∫–æ–Ω–∞–π—Ç–µ—Å—å, —â–æ —É –≤–∞—Å –≤—Å—Ç–∞–Ω–æ–≤–ª–µ–Ω—ã –Ω–µ–æ–±—Ö—ñ–¥–Ω—ñ –±—ñ–±–ª—ñ–æ—Ç–µ–∫–∏:
   ```bash
   pip install sqlalchemy pymysql pandas matplotlib seaborn python-dotenv
   ```

2. –°—Ç–≤–æ—Ä—ñ—Ç—å —Ñ–∞–π–ª `.env` –∑ –ø–∞—Ä–∞–º–µ—Ç—Ä–∞–º–∏ –ø—ñ–¥–∫–ª—é—á–µ–Ω–Ω—è –¥–æ –±–∞–∑–∏ –¥–∞–Ω–∏—Ö classicmodels. –ë–∞–∑—É –¥–∞–Ω–∏—Ö –≤–∏ –º–æ–∂–µ—Ç–µ –æ—Ç—Ä–∏–º–∞—Ç–∏ —á–µ—Ä–µ–∑

  - docker-–∫–æ–Ω—Ç–µ–π–Ω–µ—Ä –∑–≥—ñ–¥–Ω–æ —ñ—Å–Ω—Ç—Ä—É–∫—Ü—ñ—ó –≤ [–¥–æ–∫—É–º–µ–Ω—Ç—ñ](https://www.notion.so/hannapylieva/Docker-1eb94835849480c9b2e7f5dc22ee4df9), —Ç–∞–∫–æ–∂ –≤—ñ–¥–µ–æ —ñ–Ω—Å—Ç—Ä—É–∫—Ü—ñ—ó –ø—Ä–∏—Å—É—Ç–Ω—ñ –Ω–∞ –ø–ª–∞—Ç—Ñ–æ—Ä–º—ñ - —É—Ä–æ–∫–∏ "MySQL –±–∞–∑–∏, –∫–ª—ñ—î–Ω—Ç –¥–ª—è —Ä–æ–±–æ—Ç–∏ –∑ –ë–î, Docker —ñ ChatGPT –¥–ª—è –∑–∞–ø–∏—Ç—ñ–≤" —Ç–∞ "–Ø–∫ –≤—Å—Ç–∞–Ω–æ–≤–∏—Ç–∏ Docker –¥–ª—è —Ä–æ–±–æ—Ç–∏ –∑ –±–∞–∑–∞–º–∏ –¥–∞–Ω–∏—Ö –±–µ–∑ —Ç–µ—Ä–º—ñ–Ω–∞–ª—É"
  - –∞–±–æ –≤—Å—Ç–∞–Ω–æ–≤–∏–≤—à–∏ –ª–æ–∫–∞–ª—å–Ω–æ —Ü—é –ë–î - –¥–ª—è —Ü—å–æ–≥–æ –ø–µ—Ä–µ–≥–ª—è–Ω—å—Ç–µ —É—Ä–æ–∫ "–û–ø—Ü—ñ–æ–Ω–∞–ª—å–Ω–æ. –í—Å—Ç–∞–Ω–æ–≤–ª–µ–Ω–Ω—è MySQL —Ç–∞  –ë–î –°lassicmodels –ª–æ–∫–∞–ª—å–Ω–æ".
  
  –ü—Ä–∏–∫–ª–∞–¥ `.env` —Ñ–∞–π–ª—É –º–∏ —Å—Ç–≤–æ—Ä—é–≤–∞–ª–∏ –≤ –ª–µ–∫—Ü—ñ—ó. –û—Å—å –π–æ–≥–æ –æ–±–æ–≤ º—è–∑–∫–æ–≤–µ –Ω–∞–ø–æ–≤–Ω–µ–Ω–Ω—è:
    ```
    DB_HOST=your_host
    DB_PORT=3306 –∞–±–æ 3307 - —Ç–æ–π, —è–∫–∏–π –í–∏ –Ω–∞–ª–∞—à—Ç—É–≤–∞–ª–∏
    DB_USER=your_username
    DB_PASSWORD=your_password
    DB_NAME=classicmodels
    ```
  –Ø–∫—â–æ –≤–∏ —Å—Ç–≤–æ—Ä–∏–ª–∏ —Ü–µ–π —Ñ–∞–π–ª –ø—ñ–¥ —á–∞—Å –ø–µ—Ä–µ–≥–ª—è–¥—É –ª–µ–∫—Ü—ñ—ó - **–Ω–æ–≤–∏–π —Å—Ç–≤–æ—Ä—é–≤–∞—Ç–∏ –Ω–µ —Ç—Ä–µ–±–∞**. –ó–∞–º—ñ–Ω—ñ—Ç—å –ª–∏—à–µ –Ω–∞–∑–≤—É –ë–î, –∞–±–æ –ø—Ä–æ–ø–∏—à—ñ—Ç—å –Ω–∞–∑–≤—É –≤ –∫–æ–¥—ñ —Å—Ç–≤–æ—Ä–µ–Ω–Ω—è –ø—ñ–¥–∫–ª—é—á–µ–Ω–Ω—è (–∑–∞–º—ñ—Å—Ç—å –æ—Ç—Ä–∏–º–∞–Ω–Ω—è –Ω–∞–∑–≤–∏ —Ü—ñ–ª—å–æ–≤–æ—ó –ë–î –∑—ñ –∑–º—ñ–Ω–Ω–∏—Ö –æ—Ç–æ—á–µ–Ω–Ω—è). –ê–ª–µ –ø–µ—Ä–µ–∫–æ–Ω–∞–π—Ç–µ—Å—å, —â–æ –¥–æ `.env` —Ñ–∞–π–ª –ª–µ–∂–∏—Ç—å –≤ —Ç—ñ–π —Å–∞–º—ñ–π –ø–∞–ø—Ü—ñ, —â–æ —ñ —Ü–µ–π –Ω–æ—É—Ç–±—É–∫.

  **–£–í–ê–ì–ê!** –ù–ï –∫–æ–ø—ñ—é–π—Ç–µ —Å–∫—Ä–∏—Ç –¥–ª—è **—Å—Ç–≤–æ—Ä–µ–Ω–Ω—è** `.env` —Ñ–∞–π–ª—É. –í –ª–µ–∫—Ü—ñ—ó –≤—ñ–Ω –Ω–∞–≤–æ–¥–∏—Ç—å—Å—è –¥–ª—è –ø—Ä–∏–∫–ª–∞–¥—É. –Ü –¥–∞–≤–∞–ª–æ—Å—å –ø–æ—è—Å–Ω–µ–Ω–Ω—è, —â–æ –≤ —Ä–µ–∞–ª—å–Ω–∏—Ö –ø—Ä–æ—î–∫—Ç–∞—Ö –º–∏ –ù–Ü–ö–û–õ–ò –Ω–µ –ø–∏—à–µ–º–æ –¥–æ—Å—Ç—É–ø–∏ –¥–æ –±–∞–∑–∏ –≤ –∫–æ–¥—ñ. –ö–æ–ø—ñ—é–≤–∞–Ω–Ω—è —Å–∫—Ä–∏–ø—Ç–∞ –¥–ª—è —Å—Ç–≤–æ—Ä–µ–Ω–Ω—è `.env` —Ñ–∞–π–ª—É —Å—é–¥–∏ –≤ –î–ó –±—É–¥–µ –≤–≤–∞–∂–∞—Ç–∏—Å—å –≥—Ä—É–±–æ—é –ø–æ–º–∏–ª–∫–æ—é —ñ –º–∏ –∑–Ω—ñ–º–∞—Ç–∏–º–µ–º–æ –±–∞–ª–∏.

3. –ù–∞–ª–∞—à—Ç—É–π—Ç–µ –ø—ñ–¥–∫–ª—é—á–µ–Ω–Ω—è —á–µ—Ä–µ–∑ SQLAlchemy –¥–æ –ë–î –∑–∞ –ø—Ä–∏–∫–ª–∞–¥–æ–º –≤ –ª–µ–∫—Ü—ñ—ó.

–†–µ–∫–æ–º–µ–Ω–¥—É—é –≤–∏–≤–µ—Å—Ç–∏ (–≤—ñ–¥–æ–±—Ä–∞–∑–∏—Ç–∏) –∑–º—ñ–Ω–Ω—É engine –ø—ñ—Å–ª—è —Å—Ç–≤–æ—Ä–µ–Ω–Ω—è. –í–æ–Ω–∞ –º–∞—î –±—É—Ç–∏ –Ω–µ None! –Ø–∫—â–æ None - –∑–Ω–∞—á–∏—Ç—å —É –í–∞—Å –Ω–µ –ø—ñ–¥—Ç—è–≥–Ω—É–ª–∏—Å—å –Ω–∞–ª–∞—à—Ç—É–≤–∞–Ω–Ω—è –∑ .env —Ñ–∞–π–ª–∞.

–í–∏ —Ç–∞–∫–æ–∂ –º–æ–∂–µ—Ç–µ –Ω–∞–ª–∞—à—Ç—É–≤–∞—Ç–∏ –ø–∞—Ä–∞–º–µ—Ç—Ä–∏ –ø—ñ–¥–∫–ª—é—á–µ–Ω–Ω—è –¥–æ –ë–î –±–µ–∑ .env —Ñ–∞–π–ª–∞, –ø—Ä–æ—Å—Ç–æ –ø—Ä–æ–ø–∏—Å–∞–≤—à–∏ —Ç–µ–∫—Å—Ç–æ–º –≤ –≤—ñ–¥–ø–æ–≤—ñ–¥–Ω–∏—Ö –º—ñ—Å—Ü—è—Ö. –¶–µ - –Ω–µ —Ä–µ–∫–æ–º–µ–Ω–¥–æ–≤–∞–Ω–∏–π –ø—ñ–¥—Ö—ñ–¥.


## –ó–∞–≤–¥–∞–Ω–Ω—è

### –ó–∞–≤–¥–∞–Ω–Ω—è 1: –û–Ω–æ–≤–ª–µ–Ω–Ω—è —ñ–Ω—Ñ–æ—Ä–º–∞—Ü—ñ—ó –ø—Ä–æ –∫–ª—ñ—î–Ω—Ç–∞ (2 –±–∞–ª–∏)

**–°—Ç–≤–æ—Ä—ñ—Ç—å —Ñ—É–Ω–∫—Ü—ñ—é –¥–ª—è –æ–Ω–æ–≤–ª–µ–Ω–Ω—è –∫–æ–Ω—Ç–∞–∫—Ç–Ω–æ—ó —ñ–Ω—Ñ–æ—Ä–º–∞—Ü—ñ—ó –∫–ª—ñ—î–Ω—Ç–∞** –∑ –Ω–∞—Å—Ç—É–ø–Ω–∏–º–∏ –º–æ–∂–ª–∏–≤–æ—Å—Ç—è–º–∏:
- –û–Ω–æ–≤–ª–µ–Ω–Ω—è —Ç–µ–ª–µ—Ñ–æ–Ω—É –∫–ª—ñ—î–Ω—Ç–∞
- –û–Ω–æ–≤–ª–µ–Ω–Ω—è email (—è–∫—â–æ –ø–æ–ª–µ —ñ—Å–Ω—É—î)
- –õ–æ–≥—É–≤–∞–Ω–Ω—è –∑–º—ñ–Ω –≤ –æ–∫—Ä–µ–º—É —Ç–∞–±–ª–∏—Ü—é

–í–∏–∫–æ—Ä–∏—Å—Ç–∞–π—Ç–µ –ø—ñ–¥—Ö—ñ–¥ –∑ –ø–∞—Ä–∞–º–µ—Ç—Ä–∏–∑–æ–≤–∞–Ω–∏–º–∏ –∑–∞–ø–∏—Ç–∞–º–∏ —á–µ—Ä–µ–∑ `text()` —Ç–∞ `UPDATE` –æ–ø–µ—Ä–∞—Ç–æ—Ä.

–ó–∞–ø—É—Å—Ç—ñ—Ç—å —Ñ—É–Ω–∫—Ü—ñ—é —ñ –ø—Ä–æ–¥–µ–º–æ–Ω—Å—Ç—Ä—É–π—Ç–µ —ó—ó —Ä–æ–±–æ—Ç—É, –∑–∞–ø—É—Å—Ç–∏–≤—à–∏ SELECT, —è–∫–∏–π –¥–æ–ø–æ–º–æ–∂–µ —Ü–µ –∑—Ä–æ–±–∏—Ç–∏.

In [1]:
import datetime
from datetime import date
from datetime import timedelta

import os

from dotenv import load_dotenv
import pandas as pd
import sqlalchemy as sa
from sqlalchemy import create_engine, text, MetaData, Table
from sqlalchemy.orm import sessionmaker

In [2]:
def create_connection():
    """
    –°—Ç–≤–æ—Ä—é—î –ø—ñ–¥–∫–ª—é—á–µ–Ω–Ω—è —á–µ—Ä–µ–∑ SQLAlchemy
    """
    # –ó–∞–≤–∞–Ω—Ç–∞–∂—É—î–º–æ –∑–º—ñ–Ω–Ω—ñ —Å–µ—Ä–µ–¥–æ–≤–∏—â–∞
    load_dotenv()

    # –û—Ç—Ä–∏–º—É—î–º–æ –ø–∞—Ä–∞–º–µ—Ç—Ä–∏ –∑ environment variables
    host = os.getenv('DB_HOST', 'localhost')
    port = os.getenv('DB_PORT', '3306')
    user = os.getenv('DB_USER')
    password = os.getenv('DB_PASSWORD')
    database = os.getenv('DB_NAME')

    if not all([user, password, database]):
        raise ValueError("–ù–µ –≤—Å—ñ –ø–∞—Ä–∞–º–µ—Ç—Ä–∏ –ë–î –∑–∞–¥–∞–Ω—ñ –≤ .env —Ñ–∞–π–ª—ñ!")

    # –°—Ç–≤–æ—Ä—é—î–º–æ connection string
    connection_string = f"mysql+pymysql://{user}:{password}@{host}:{port}/{database}"

    # –°—Ç–≤–æ—Ä—é—î–º–æ engine –∑ connection pooling
    engine = create_engine(
        connection_string,
        pool_size=2,           # –†–æ–∑–º—ñ—Ä –ø—É–ª—É –ø—ñ–¥–∫–ª—é—á–µ–Ω—å
        max_overflow=20,        # –ú–∞–∫—Å–∏–º–∞–ª—å–Ω–∞ –∫—ñ–ª—å–∫—ñ—Å—Ç—å –¥–æ–¥–∞—Ç–∫–æ–≤–∏—Ö –ø—ñ–¥–∫–ª—é—á–µ–Ω—å
        pool_pre_ping=True,     # –ü–µ—Ä–µ–≤—ñ—Ä–∫–∞ –ø—ñ–¥–∫–ª—é—á–µ–Ω–Ω—è –ø–µ—Ä–µ–¥ –≤–∏–∫–æ—Ä–∏—Å—Ç–∞–Ω–Ω—è–º
        echo=False              # –õ–æ–≥—É–≤–∞–Ω–Ω—è SQL –∑–∞–ø–∏—Ç—ñ–≤ (True –¥–ª—è debug)
    )

    # –¢–µ—Å—Ç—É—î–º–æ –ø—ñ–¥–∫–ª—é—á–µ–Ω–Ω—è
    try:
        with engine.connect() as conn:
            result = conn.execute(text("SELECT 1"))
            result.fetchone()

        print("‚úÖ –ü—ñ–¥–∫–ª—é—á–µ–Ω–Ω—è –¥–æ –ë–î —É—Å–ø—ñ—à–Ω–µ!")
        print(f"üîó {user}@{host}:{port}/{database}")
        print(f"‚ö° Engine: {engine}")

        return engine

    except Exception as e:
        print(f"‚ùå –ü–æ–º–∏–ª–∫–∞ –ø—ñ–¥–∫–ª—é—á–µ–Ω–Ω—è: {e}")
        return None

# –°—Ç–≤–æ—Ä—é—î–º–æ –ø—ñ–¥–∫–ª—é—á–µ–Ω–Ω—è
engine = create_connection()

‚úÖ –ü—ñ–¥–∫–ª—é—á–µ–Ω–Ω—è –¥–æ –ë–î —É—Å–ø—ñ—à–Ω–µ!
üîó root@localhost:3306/classicmodels
‚ö° Engine: Engine(mysql+pymysql://root:***@localhost:3306/classicmodels)

In [3]:
#–°—Ç–≤–æ—Ä–µ–Ω–Ω—è —Ç–∞–±–ª–∏—Ü—ñ –¥–ª—è –∑–∞–ø–∏—Å—É –ª–æ–≥—ñ–≤
def create_logs_table(engine):
    create_table_query = text('''
        CREATE TABLE `logs` (
            `id` int NOT NULL AUTO_INCREMENT,
            `datetime` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
            `username` varchar(50) NOT NULL,
            `type` int NOT NULL COMMENT '1 - INSERT, 2 - UPDATE, 3 - DELETE',
            `comment` text DEFAULT NULL,
            `isError` boolean NOT NULL DEFAULT FALSE COMMENT 'TRUE - error record, FALSE - informational record',
            PRIMARY KEY (`id`),
            KEY `idx_datetime` (`datetime`),
            KEY `idx_type` (`type`)
        ) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4;
    ''')
    
    try:
        with engine.connect() as connection:
            connection.execute(create_table_query)
            connection.commit()
            print('‚úÖ –¢–∞–±–ª–∏—Ü—è "logs" —É—Å–ø—ñ—à–Ω–æ —Å—Ç–≤–æ—Ä–µ–Ω–∞')
            return True
            
    except Exception as e:
        print(f'–ü–æ–º–∏–ª–∫–∞ –ø—Ä–∏ —Å—Ç–≤–æ—Ä–µ–Ω–Ω—ñ —Ç–∞–±–ª–∏—Ü—ñ "logs": {str(e)}')
        return False

create_logs_table(engine)

‚úÖ –¢–∞–±–ª–∏—Ü—è "logs" —É—Å–ø—ñ—à–Ω–æ —Å—Ç–≤–æ—Ä–µ–Ω–∞

True

In [4]:
#–§—É–Ω–∫—Ü—ñ—è –æ–Ω–æ–≤–ª–µ–Ω–Ω—è –∫–æ–Ω—Ç–∞–∫—Ç–Ω–æ—ó —ñ–Ω—Ñ–æ—Ä–º–∞—Ü—ñ—ó –∫–ª—ñ—î–Ω—Ç–∞
def update_customer_contact(engine, customerNumber, phone=None, email=None):
    '''
    –û–Ω–æ–≤–ª—é—î –∫–æ–Ω—Ç–∞–∫—Ç–Ω—É —ñ–Ω—Ñ–æ—Ä–º–∞—Ü—ñ—é –∫–ª—ñ—î–Ω—Ç–∞
    '''
    
    # –í–∞–ª—ñ–¥–∞—Ü—ñ—è –ø–∞—Ä–∞–º–µ—Ç—Ä—ñ–≤
    if not customerNumber:
        return {
            'success': False,
            'message': '–ù–æ–º–µ—Ä –∫–ª—ñ—î–Ω—Ç–∞ –æ–±–æ–≤\'—è–∑–∫–æ–≤–∏–π'
        }
    
    if not phone and not email:
        return {
            'success': False,
            'message': '–ü–æ—Ç—Ä—ñ–±–Ω–æ –ø–µ—Ä–µ–¥–∞—Ç–∏ —Ö–æ—á–∞ –± –æ–¥–∏–Ω –ø–∞—Ä–∞–º–µ—Ç—Ä: phone –∞–±–æ email'
        }
    
    username = os.getenv('DB_USER', 'unknown_user')
    
    try:
        with engine.begin() as connection:
            email_field_exists = False
            if email:
                check_email_field_query = text('''
                    SELECT COUNT(*) as field_count
                    FROM INFORMATION_SCHEMA.COLUMNS 
                    WHERE TABLE_SCHEMA = DATABASE()
                    AND TABLE_NAME = 'customers' 
                    AND LOWER(COLUMN_NAME) = 'email'
                    ''')
                    
                field_result = connection.execute(check_email_field_query)
                email_field_exists = field_result.fetchone().field_count > 0
                    
                if not email_field_exists:
                    return {
                        'success': False,
                        'message': '–í–∏–±–∞—á—Ç–µ, –Ω–∞ –¥–∞–Ω–∏–π –º–æ–º–µ–Ω—Ç –æ–Ω–æ–≤–ª–µ–Ω–Ω—è email —Ç–µ—Ö–Ω—ñ—á–Ω–æ –Ω–µ –ø–µ—Ä–µ–¥–±–∞—á–µ–Ω–æ.'
                        }
                
            # –ü–µ—Ä–µ–≤—ñ—Ä–∫–∞ –∫–ª—ñ—î–Ω—Ç–∞ —Ç–∞ –æ—Ç—Ä–∏–º–∞–Ω–Ω—è –ø–æ—Ç–æ—á–Ω–∏—Ö –¥–∞–Ω–∏—Ö
            if email_field_exists:
                select_query = text('''
                    SELECT customerNumber, phone, email 
                    FROM customers 
                    WHERE customerNumber = :customerNumber
                    FOR UPDATE
                ''')
            else:
                select_query = text('''
                    SELECT customerNumber, phone 
                    FROM customers 
                    WHERE customerNumber = :customerNumber
                    FOR UPDATE
                ''')
            
            result = connection.execute(select_query, {'customerNumber': customerNumber})
            current_data = result.fetchone()
            
            if not current_data:
                return {
                    'success': False,
                    'message': f'–ö–ª—ñ—î–Ω—Ç–∞ –∑ –Ω–æ–º–µ—Ä–æ–º {customerNumber} –Ω–µ –∑–Ω–∞–π–¥–µ–Ω–æ.'
                }
            
            # –ó–±–µ—Ä–µ–∂–µ–Ω–Ω—è –ø–æ—Ç–æ—á–Ω–∏—Ö –¥–∞–Ω–∏—Ö
            current_phone = current_data.phone
            current_email = getattr(current_data, 'email', None) if email_field_exists else None
            
            # –ü–µ—Ä–µ–≤—ñ—Ä–∫–∞ –Ω–æ–≤–∏—Ö –¥–∞–Ω–∏—Ö —ñ –ø–æ—Ç–æ—á–Ω–∏—Ö
            if phone and current_phone == phone:
                return {
                    'success': False,
                    'message': f'–í–≤–µ–¥–µ–Ω–∏–π –Ω–æ–º–µ—Ä —Ç–µ–ª–µ—Ñ–æ–Ω—É {phone} —Å–ø—ñ–≤–ø–∞–¥–∞—î –∑ –ø–æ—Ç–æ—á–Ω–∏–º –∑–Ω–∞—á–µ–Ω–Ω—è–º. –û–Ω–æ–≤–ª–µ–Ω–Ω—è –Ω–µ –≤–∏–∫–æ–Ω–∞–Ω–æ'
                }
            
            if email and current_email == email:
                return {
                    'success': False,
                    'message': f'–í–≤–µ–¥–µ–Ω–∏–π email {email} —Å–ø—ñ–≤–ø–∞–¥–∞—î –∑ –ø–æ—Ç–æ—á–Ω–∏–º –∑–Ω–∞—á–µ–Ω–Ω—è–º. –û–Ω–æ–≤–ª–µ–Ω–Ω—è –Ω–µ –≤–∏–∫–æ–Ω–∞–Ω–æ'
                }
                
            
            # –û–Ω–æ–≤–ª–µ–Ω–Ω—è –¥–∞–Ω–∏—Ö –∫–ª—ñ—î–Ω—Ç–∞
            if phone and email:
                update_query = text('''
                    UPDATE customers 
                    SET phone = :phone, email = :email 
                    WHERE customerNumber = :customerNumber
                ''')
                connection.execute(update_query, {
                    'phone': phone,
                    'email': email,
                    'customerNumber': customerNumber
                })
            elif phone:
                update_query = text('''
                    UPDATE customers 
                    SET phone = :phone 
                    WHERE customerNumber = :customerNumber
                ''')    
                connection.execute(update_query, {
                    'phone': phone,
                    'customerNumber': customerNumber
                })
            elif email:
                update_query = text('''
                    UPDATE customers 
                    SET email = :email 
                    WHERE customerNumber = :customerNumber
                ''')
                connection.execute(update_query, {
                    'email': email,
                    'customerNumber': customerNumber
                })
        
            # –û—Ç—Ä–∏–º–∞–Ω–Ω—è –æ–Ω–æ–≤–ª–µ–Ω–∏—Ö –¥–∞–Ω–∏—Ö
            updated_result = connection.execute(select_query, {'customerNumber': customerNumber})
            updated_data = updated_result.fetchone()
            new_phone = updated_data.phone
            
            # –ó–∞–ø–∏—Å —É—Å–ø—ñ—à–Ω–æ–≥–æ –ª–æ–≥—É
            log_comment = f'–û–Ω–æ–≤–ª–µ–Ω–æ –¥–∞–Ω—ñ –∫–ª—ñ—î–Ω—Ç–∞ {customerNumber}. –ü–æ–ø–µ—Ä–µ–¥–Ω—î –∑–Ω–∞—á–µ–Ω–Ω—è –Ω–æ–º–µ—Ä—É —Ç–µ–ª–µ—Ñ–æ–Ω—É: {current_phone}. –ù–æ–≤–µ –∑–Ω–∞—á–µ–Ω–Ω—è –Ω–æ–º–µ—Ä—É —Ç–µ–ª–µ—Ñ–æ–Ω—É: {new_phone}'

            log_insert_query = text('''
                INSERT INTO logs (username, type, comment, isError)
                VALUES (:username, :type, :comment, :isError)
            ''')
            
            connection.execute(log_insert_query, {
                'username': username,
                'type': 2,
                'comment': log_comment,
                'isError': False
            })
            
            return {
                'success': True,
                'message': f'–ö–æ–Ω—Ç–∞–∫—Ç–Ω—ñ –¥–∞–Ω—ñ –∫–ª—ñ—î–Ω—Ç–∞ {customerNumber} —É—Å–ø—ñ—à–Ω–æ –æ–Ω–æ–≤–ª–µ–Ω–æ'
            }
            
    except Exception as e:
        with engine.begin() as connection:
            error_comment = f'–î–∞–Ω—ñ –∫–ª—ñ—î–Ω—Ç–∞ {customerNumber} –Ω–µ –æ–Ω–æ–≤–ª–µ–Ω–æ. –ü–æ–º–∏–ª–∫–∞: {str(e)}'
                
            log_insert_query = text('''
                INSERT INTO logs (username, type, comment, isError)
                VALUES (:username, :type, :comment, :isError)
                ''')
            connection.execute(log_insert_query, {
                'username': username,
                'type': 2,
                'comment': error_comment,
                'isError': True
                })

        return {
            'success': False,
            'message': f'–ü–æ–º–∏–ª–∫–∞ –ø—Ä–∏ –æ–Ω–æ–≤–ª–µ–Ω–Ω—ñ –¥–∞–Ω–∏—Ö –∫–ª—ñ—î–Ω—Ç–∞: {str(e)}'
        }

In [5]:
#–§—É–Ω–∫—Ü—ñ—è –æ—Ç—Ä–∏–º–∞–Ω–Ω—è —Ä–µ–∑—É–ª—å—Ç–∞—Ç—É
def print_last_log(engine):
    '''
    –í–∏–≤–æ–¥–∏—Ç—å —ñ–Ω—Ñ–æ—Ä–º–∞—Ü—ñ—é –ø—Ä–æ –æ—Å—Ç–∞–Ω–Ω—ñ–π –∑–∞–ø–∏—Å –≤ –ª–æ–≥–∞—Ö –¥–ª—è –ø–æ—Ç–æ—á–Ω–æ–≥–æ –∫–æ—Ä–∏—Å—Ç—É–≤–∞—á–∞
    '''
    username = os.getenv('DB_USER')
    
    try:
        with engine.connect() as connection:
            log_query = text('''
                SELECT username, datetime, comment
                FROM logs
                WHERE username = :username
                ORDER BY id DESC
                LIMIT 1
            ''')
            
            result = connection.execute(log_query, {'username': username})
            log_entry = result.fetchone()
            
            if log_entry:
                print(f'–ö–æ—Ä–∏—Å—Ç—É–≤–∞—á: {log_entry.username}')
                print(f'–î–∞—Ç–∞ —Ç–∞ —á–∞—Å: {log_entry.datetime}')
                print(f'–ü–æ–≤—ñ–¥–æ–º–ª–µ–Ω–Ω—è: {log_entry.comment}')
            else:
                print('–ó–∞–ø–∏—Å–∏ –≤ –ª–æ–≥–∞—Ö –Ω–µ –∑–Ω–∞–π–¥–µ–Ω–æ')
                
    except Exception as e:
        print(f'–ü–æ–º–∏–ª–∫–∞ –ø—Ä–∏ –æ—Ç—Ä–∏–º–∞–Ω–Ω—ñ –ª–æ–≥—É: {str(e)}')

In [6]:
#–í–∏–∫–ª–∏–∫ —Ñ—É–Ω–∫–Ω—Ü—ñ—ó –æ–Ω–æ–≤–ª–µ–Ω–Ω—è –¥–∞–Ω–∏—Ö –∫–æ—Ä–∏—Å—Ç—É–≤–∞—á–∞ —ñ –ª–æ–≥
#1. –ü–æ–º–∏–ª–∫–æ–≤–∏–π –∑–∞–ø–∏—Å –∑ email
result = update_customer_contact(engine, 103, '40.32.2555', 'email')
print(result)
print_last_log(engine)

{'success': False, 'message': '–í–∏–±–∞—á—Ç–µ, –Ω–∞ –¥–∞–Ω–∏–π –º–æ–º–µ–Ω—Ç –æ–Ω–æ–≤–ª–µ–Ω–Ω—è email —Ç–µ—Ö–Ω—ñ—á–Ω–æ –Ω–µ –ø–µ—Ä–µ–¥–±–∞—á–µ–Ω–æ.'}
–ó–∞–ø–∏—Å–∏ –≤ –ª–æ–≥–∞—Ö –Ω–µ –∑–Ω–∞–π–¥–µ–Ω–æ

In [7]:
#2. –ü–æ–≤—Ç–æ—Ä–µ–Ω–Ω—è –Ω–æ–º–µ—Ä—É —Ç–µ–ª–µ—Ñ–æ–Ω—É
result = update_customer_contact(engine, 103, '40.32.2555')
print(result)
print_last_log(engine)

{'success': False, 'message': '–í–≤–µ–¥–µ–Ω–∏–π –Ω–æ–º–µ—Ä —Ç–µ–ª–µ—Ñ–æ–Ω—É 40.32.2555 —Å–ø—ñ–≤–ø–∞–¥–∞—î –∑ –ø–æ—Ç–æ—á–Ω–∏–º –∑–Ω–∞—á–µ–Ω–Ω—è–º. –û–Ω–æ–≤–ª–µ–Ω–Ω—è –Ω–µ –≤–∏–∫–æ–Ω–∞–Ω–æ'}
–ó–∞–ø–∏—Å–∏ –≤ –ª–æ–≥–∞—Ö –Ω–µ –∑–Ω–∞–π–¥–µ–Ω–æ

In [8]:
#3 –ü–µ—Ä–µ–¥–∞–Ω–æ –ª–∏—à–µ –∫–æ–¥ –∫–ª—ñ—î–Ω—Ç–∞
result = update_customer_contact(engine, 103)
print(result)
print_last_log(engine)

{'success': False, 'message': '–ü–æ—Ç—Ä—ñ–±–Ω–æ –ø–µ—Ä–µ–¥–∞—Ç–∏ —Ö–æ—á–∞ –± –æ–¥–∏–Ω –ø–∞—Ä–∞–º–µ—Ç—Ä: phone –∞–±–æ email'}
–ó–∞–ø–∏—Å–∏ –≤ –ª–æ–≥–∞—Ö –Ω–µ –∑–Ω–∞–π–¥–µ–Ω–æ

In [9]:
#4 –ü–µ—Ä–µ–¥–∞–Ω–æ –Ω–µ—ñ—Å–Ω—É—é—á–∏–π –∫–æ–¥ –∫–ª—ñ—î–Ω—Ç–∞
result = update_customer_contact(engine, 1033, '40.32.2666')
print(result)
print_last_log(engine)

{'success': False, 'message': '–ö–ª—ñ—î–Ω—Ç–∞ –∑ –Ω–æ–º–µ—Ä–æ–º 1033 –Ω–µ –∑–Ω–∞–π–¥–µ–Ω–æ.'}
–ó–∞–ø–∏—Å–∏ –≤ –ª–æ–≥–∞—Ö –Ω–µ –∑–Ω–∞–π–¥–µ–Ω–æ

In [10]:
#5. –£—Å–ø—ñ—à–Ω–µ –æ–Ω–æ–≤–ª–µ–Ω–Ω—è
result = update_customer_contact(engine, 103, '40.32.2666')
print(result)
print_last_log(engine)

{'success': True, 'message': '–ö–æ–Ω—Ç–∞–∫—Ç–Ω—ñ –¥–∞–Ω—ñ –∫–ª—ñ—î–Ω—Ç–∞ 103 —É—Å–ø—ñ—à–Ω–æ –æ–Ω–æ–≤–ª–µ–Ω–æ'}
–ö–æ—Ä–∏—Å—Ç—É–≤–∞—á: root
–î–∞—Ç–∞ —Ç–∞ —á–∞—Å: 2025-08-03 16:59:47
–ü–æ–≤—ñ–¥–æ–º–ª–µ–Ω–Ω—è: –û–Ω–æ–≤–ª–µ–Ω–æ –¥–∞–Ω—ñ –∫–ª—ñ—î–Ω—Ç–∞ 103. –ü–æ–ø–µ—Ä–µ–¥–Ω—î –∑–Ω–∞—á–µ–Ω–Ω—è –Ω–æ–º–µ—Ä—É —Ç–µ–ª–µ—Ñ–æ–Ω—É: 40.32.2555. –ù–æ–≤–µ –∑–Ω–∞—á–µ–Ω–Ω—è –Ω–æ–º–µ—Ä—É —Ç–µ–ª–µ—Ñ–æ–Ω—É: 40.32.2666

### –ó–∞–≤–¥–∞–Ω–Ω—è 2: –°—Ç–≤–æ—Ä–µ–Ω–Ω—è –Ω–æ–≤–æ–≥–æ –∑–∞–º–æ–≤–ª–µ–Ω–Ω—è –∑ —Ç—Ä–∞–Ω–∑–∞–∫—Ü—ñ—î—é (5 –±–∞–ª—ñ–≤)

**–†–µ–∞–ª—ñ–∑—É–π—Ç–µ –ø—Ä–æ—Ü–µ—Å —Å—Ç–≤–æ—Ä–µ–Ω–Ω—è –Ω–æ–≤–æ–≥–æ –∑–∞–º–æ–≤–ª–µ–Ω–Ω—è** –∑ –Ω–∞—Å—Ç—É–ø–Ω–∏–º–∏ –∫—Ä–æ–∫–∞–º–∏ –≤ –æ–¥–Ω—ñ–π —Ç—Ä–∞–Ω–∑–∞–∫—Ü—ñ—ó:
- –°—Ç–≤–æ—Ä–µ–Ω–Ω—è –∑–∞–ø–∏—Å—É –≤ —Ç–∞–±–ª–∏—Ü—ñ `orders`
- –î–æ–¥–∞–≤–∞–Ω–Ω—è —Ç–æ–≤–∞—Ä–Ω–∏—Ö –ø–æ–∑–∏—Ü—ñ–π –≤ `orderdetails`
- –ü–µ—Ä–µ–≤—ñ—Ä–∫–∞ –Ω–∞—è–≤–Ω–æ—Å—Ç—ñ —Ç–æ–≤–∞—Ä—ñ–≤ –Ω–∞ —Å–∫–ª–∞–¥—ñ
- –ó–º–µ–Ω—à–µ–Ω–Ω—è –∫—ñ–ª—å–∫–æ—Å—Ç—ñ —Ç–æ–≤–∞—Ä—ñ–≤ –Ω–∞ —Å–∫–ª–∞–¥—ñ

–ó–∞–ø—É—Å—Ç—ñ—Ç—å –ø—Ä–æ—Ü–µ—Å –∑ —Ç–µ—Å—Ç–æ–≤–∏–º–∏ –¥–∞–Ω–∏–º–∏ —ñ –ø—Ä–æ–¥–µ–º–æ–Ω—Å—Ç—Ä—É–π—Ç–µ —á–µ—Ä–µ–∑ SELECT, —â–æ –ø—Ä–æ—Ü–µ—Å —É—Å–ø—ñ—à–Ω–æ –≤—ñ–¥–ø—Ä–∞—Ü—é–≤–∞–≤ —ñ –±—É–ª–∏ –≤–∏–∫–æ–Ω–∞–Ω—ñ –Ω–µ–æ–±—Ö—ñ–¥–Ω—ñ –æ–ø–µ—Ä–∞—Ü—ñ—ó.

In [11]:
def create_order(engine, customerNumber, order_items, requiredDate=None, comments=None):
    '''
    –°—Ç–≤–æ—Ä—é—î –Ω–æ–≤–µ –∑–∞–º–æ–≤–ª–µ–Ω–Ω—è –≤ —Å–∏—Å—Ç–µ–º—ñ –∑ –∞–≤—Ç–æ–º–∞—Ç–∏—á–Ω–∏–º –æ–Ω–æ–≤–ª–µ–Ω–Ω—è–º —Å–∫–ª–∞–¥—É, –ø–æ –∫—Ä–æ–∫–∞—Ö:
    - –°—Ç–≤–æ—Ä–µ–Ω–Ω—è –∑–∞–ø–∏—Å—É –≤ —Ç–∞–±–ª–∏—Ü—ñ `orders`
    - –î–æ–¥–∞–≤–∞–Ω–Ω—è —Ç–æ–≤–∞—Ä–Ω–∏—Ö –ø–æ–∑–∏—Ü—ñ–π –≤ `orderdetails`
    - –ü–µ—Ä–µ–≤—ñ—Ä–∫–∞ –Ω–∞—è–≤–Ω–æ—Å—Ç—ñ —Ç–æ–≤–∞—Ä—ñ–≤ –Ω–∞ —Å–∫–ª–∞–¥—ñ
    - –ó–º–µ–Ω—à–µ–Ω–Ω—è –∫—ñ–ª—å–∫–æ—Å—Ç—ñ —Ç–æ–≤–∞—Ä—ñ–≤ –Ω–∞ —Å–∫–ª–∞–¥—ñ

    :param engine: SQLAlchemy engine –¥–ª—è –ø—ñ–¥–∫–ª—é—á–µ–Ω–Ω—è –¥–æ –±–∞–∑–∏ –¥–∞–Ω–∏—Ö
    :type engine: sqlalchemy.engine.Engine
    :param customerNumber: –ù–æ–º–µ—Ä –∫–ª—ñ—î–Ω—Ç–∞ –≤ —Å–∏—Å—Ç–µ–º—ñ
    :type customerNumber: int
    :param order_items: –°–ø–∏—Å–æ–∫ —Ç–æ–≤–∞—Ä—ñ–≤ –¥–ª—è –∑–∞–º–æ–≤–ª–µ–Ω–Ω—è —É —Ñ–æ—Ä–º–∞—Ç—ñ [(productCode, quantityOrdered, priceEach), ...]
    :type order_items: list
    :param requiredDate: –î–∞—Ç–∞ –ø–æ—Å—Ç–∞–≤–∫–∏ –∑–∞–º–æ–≤–ª–µ–Ω–Ω—è (—è–∫—â–æ None - –≥–µ–Ω–µ—Ä—É—î—Ç—å—Å—è –ø–æ—Ç–æ—á–Ω–∞ –¥–∞—Ç–∞ + 14 –¥–Ω—ñ–≤)
    :type requiredDate: str, date –∞–±–æ None
    :param comments: –î–æ–¥–∞—Ç–∫–æ–≤—ñ –∫–æ–º–µ–Ω—Ç–∞—Ä—ñ –¥–æ –∑–∞–º–æ–≤–ª–µ–Ω–Ω—è
    :type comments: str –∞–±–æ None
    :returns: –°–ª–æ–≤–Ω–∏–∫ –∑ —Ä–µ–∑—É–ª—å—Ç–∞—Ç–æ–º –æ–ø–µ—Ä–∞—Ü—ñ—ó {'success': True/False, 'message': '—Ç–µ–∫—Å—Ç –ø–æ–≤—ñ–¥–æ–º–ª–µ–Ω–Ω—è'}
    :rtype: dict
    
    .. note::
       –í—Å—ñ –æ–ø–µ—Ä–∞—Ü—ñ—ó –≤–∏–∫–æ–Ω—É—é—Ç—å—Å—è –≤ –æ–¥–Ω—ñ–π —Ç—Ä–∞–Ω–∑–∞–∫—Ü—ñ—ó. –£ —Ä–∞–∑—ñ –ø–æ–º–∏–ª–∫–∏ –∑–º—ñ–Ω–∏ –Ω–µ –∑–±–µ—Ä—ñ–≥–∞—é—Ç—å—Å—è.
       –Ø–∫—â–æ priceEach=None —É —Ç–æ–≤–∞—Ä—ñ, –≤–∏–∫–æ—Ä–∏—Å—Ç–æ–≤—É—î—Ç—å—Å—è MSRP –∑ —Ç–∞–±–ª–∏—Ü—ñ products.
       orderLineNumber –≥–µ–Ω–µ—Ä—É—î—Ç—å—Å—è –∞–≤—Ç–æ–º–∞—Ç–∏—á–Ω–æ —è–∫ 1, 2, 3... –¥–ª—è –∫–æ–∂–Ω–æ—ó –ø–æ–∑–∏—Ü—ñ—ó.
    '''
    
    # –í–∞–ª—ñ–¥–∞—Ü—ñ—è –ø–∞—Ä–∞–º–µ—Ç—Ä—ñ–≤
    if not customerNumber:
        return {
            'success': False,
            'message': '–ù–æ–º–µ—Ä –∫–ª—ñ—î–Ω—Ç–∞ –æ–±–æ–≤\'—è–∑–∫–æ–≤–∏–π'
        }
    
    if not isinstance(customerNumber, int):
        return {
            'success': False,
            'message': '–ù–æ–º–µ—Ä –∫–ª—ñ—î–Ω—Ç–∞ –ø–æ–≤–∏–Ω–µ–Ω –±—É—Ç–∏ —Ü–∏—Ñ—Ä–æ–≤–∏–º'
        }
    
    if not isinstance(order_items, list) or not order_items:
        return {
            'success': False,
            'message': '–°–ø–∏—Å–æ–∫ —Ç–æ–≤–∞—Ä—ñ–≤ –ø–æ–≤–∏–Ω–µ–Ω –±—É—Ç–∏ –∑–∞–ø–æ–≤–Ω–µ–Ω–∏–π'
        }
    
    # –í–∞–ª—ñ–¥–∞—Ü—ñ—è –¥–µ—Ç–∞–ª–µ–π –∑–∞–º–æ–≤–ª–µ–Ω–Ω—è
    for i, item in enumerate(order_items):
        if not isinstance(item, tuple) or len(item) != 3:
            return {
                'success': False,
                'message': f'–ï–ª–µ–º–µ–Ω—Ç {i+1} –≤ —Å–ø–∏—Å–∫—É —Ç–æ–≤–∞—Ä—ñ–≤ –ø–æ–≤–∏–Ω–µ–Ω –º—ñ—Å—Ç–∏—Ç–∏ 3 –µ–ª–µ–º–µ–Ω—Ç–∏'
            }
        
        productCode, quantityOrdered, priceEach = item
        
        if not isinstance(quantityOrdered, int) or quantityOrdered <= 0:
            return {
                'success': False,
                'message': f'–ö—ñ–ª—å–∫—ñ—Å—Ç—å –¥–ª—è —Ç–æ–≤–∞—Ä—É {productCode} –ø–æ–≤–∏–Ω–Ω–∞ –±—É—Ç–∏ —Ü—ñ–ª–∏–º —á–∏—Å–ª–æ–º –±—ñ–ª—å—à–µ 0'
            }
        
        if priceEach is not None and (not isinstance(priceEach, (int, float)) or priceEach < 0):
            return {
                'success': False,
                'message': f'–¶—ñ–Ω–∞ –¥–ª—è —Ç–æ–≤–∞—Ä—É {productCode} –ø–æ–≤–∏–Ω–Ω–∞ –±—É—Ç–∏ —á–∏—Å–ª–æ–º >= 0 –∞–±–æ –Ω–µ –≤–∫–∞–∑–∞–Ω–∞'
            }
    
    # –í–∞–ª—ñ–¥–∞—Ü—ñ—è —Ç–∞ –≥–µ–Ω–µ—Ä–∞—Ü—ñ—è requiredDate
    current_date = date.today()
    if requiredDate is None:
        requiredDate = current_date + timedelta(days=14)
    else:
        # –ü–µ—Ä–µ—Ç–≤–æ—Ä–µ–Ω–Ω—è —Ä—è–¥–∫–∞ –≤ –¥–∞—Ç—É
        if isinstance(requiredDate, str):
            try:
                requiredDate = date.fromisoformat(requiredDate)
            except ValueError:
                return {
                    'success': False,
                    'message': '–ù–µ–∫–æ—Ä–µ–∫—Ç–Ω–∏–π —Ñ–æ—Ä–º–∞—Ç –¥–∞—Ç–∏ –ø–æ—Å—Ç–∞–≤–∫–∏. –í–∏–∫–æ—Ä–∏—Å—Ç–æ–≤—É–π—Ç–µ YYYY-MM-DD'
                }
        
        if requiredDate <= current_date:
            return {
                'success': False,
                'message': '–ó–∞–∑–Ω–∞—á–µ–Ω–æ –Ω–µ–∫–æ—Ä–µ–∫—Ç–Ω—É –¥–∞—Ç—É –ø–æ—Å—Ç–∞–≤–∫–∏. –î–∞—Ç–∞ –ø–æ—Å—Ç–∞–≤–∫–∏ –ø–æ–≤–∏–Ω–Ω–∞ –±—É—Ç–∏ –º—ñ–Ω—ñ–º—É–º –Ω–∞ 1 –¥–µ–Ω—å –±—ñ–ª—å—à–µ –∑–∞ –ø–æ—Ç–æ—á–Ω—É –¥–∞—Ç—É –∞–±–æ –Ω–µ –∑–∞–∑–Ω–∞—á–µ–Ω–∞'
            }
    
    try:
        with engine.begin() as connection:
            # –ü–µ—Ä–µ–≤—ñ—Ä—è—î–º–æ –∫–ª—ñ—î–Ω—Ç–∞
            customer_check_query = text('''
                SELECT customerNumber 
                FROM customers 
                WHERE customerNumber = :customerNumber
            ''')
            
            customer_result = connection.execute(customer_check_query, {'customerNumber': customerNumber})
            if not customer_result.fetchone():
                return {
                    'success': False,
                    'message': f'–ö–ª—ñ—î–Ω—Ç–∞ –∑ –Ω–æ–º–µ—Ä–æ–º {customerNumber} –Ω–µ –∑–Ω–∞–π–¥–µ–Ω–æ'
                }
            
            # –ü–µ—Ä–µ–≤—ñ—Ä—è—î–º–æ, —â–æ —Ç–æ–≤–∞—Ä–∏ —î –≤ –Ω–∞—è–≤–Ω–æ—Å—Ç—ñ –Ω–∞ —Å–∫–ª–∞–¥—ñ
            for productCode, quantityOrdered, priceEach in order_items:
                product_check_query = text('''
                    SELECT productCode, quantityInStock, MSRP
                    FROM products 
                    WHERE productCode = :productCode
                ''')
                
                product_result = connection.execute(product_check_query, {'productCode': productCode})
                product_data = product_result.fetchone()
                
                if not product_data:
                    return {
                        'success': False,
                        'message': f'–¢–æ–≤–∞—Ä –∑ –∫–æ–¥–æ–º {productCode} –Ω–µ –∑–Ω–∞–π–¥–µ–Ω–æ'
                    }
                
                if product_data.quantityInStock < quantityOrdered:
                    return {
                        'success': False,
                        'message': f'–ù–µ–¥–æ—Å—Ç–∞—Ç–Ω—å–æ —Ç–æ–≤–∞—Ä—É {productCode} –Ω–∞ —Å–∫–ª–∞–¥—ñ. –î–æ—Å—Ç—É–ø–Ω–æ: {product_data.quantityInStock}, –∑–∞–º–æ–≤–ª–µ–Ω–æ: {quantityOrdered}'
                    }
            
            # –ì–µ–Ω–µ—Ä—É—î–º–æ orderNumber
            order_number = text('''
                SELECT COALESCE(MAX(orderNumber), 0) + 1 as nextOrderNumber
                FROM orders
            ''')
            
            order_number_result = connection.execute(order_number)
            orderNumber = order_number_result.fetchone().nextOrderNumber
            
            # –í—Å—Ç–∞–≤–∫–∞ –≤ —Ç–∞–±–ª–∏—Ü—é orders
            insert_order = text('''
                INSERT INTO orders (orderNumber, orderDate, requiredDate, status, comments, customerNumber)
                VALUES (:orderNumber, :orderDate, :requiredDate, :status, :comments, :customerNumber)
            ''')
            
            connection.execute(insert_order, {
                'orderNumber': orderNumber,
                'orderDate': current_date,
                'requiredDate': requiredDate,
                'status': 'In Process',
                'comments': comments,
                'customerNumber': customerNumber
            })
            
            # –í—Å—Ç–∞–≤–∫–∞ –≤ —Ç–∞–±–ª–∏—Ü—é orderdetails —Ç–∞ –æ–Ω–æ–≤–ª–µ–Ω–Ω—è —Å–∫–ª–∞–¥—É
            orderLineNumber = 1
            
            for productCode, quantityOrdered, priceEach in order_items:
                # –í–∏–∫–æ—Ä–∏—Å—Ç–æ–≤—É—î–º–æ MSRP —è–∫—â–æ —Ü—ñ–Ω–∞ –Ω–µ –≤–∫–∞–∑–∞–Ω–∞
                if priceEach is None:
                    msrp_query = text('''
                        SELECT MSRP FROM products WHERE productCode = :productCode
                    ''')
                    msrp_result = connection.execute(msrp_query, {'productCode': productCode})
                    priceEach = msrp_result.fetchone().MSRP
                
                # –í—Å—Ç–∞–≤–∫–∞ –≤ orderdetails
                insert_detail = text('''
                    INSERT INTO orderdetails (orderNumber, productCode, quantityOrdered, priceEach, orderLineNumber)
                    VALUES (:orderNumber, :productCode, :quantityOrdered, :priceEach, :orderLineNumber)
                ''')
                
                connection.execute(insert_detail, {
                    'orderNumber': orderNumber,
                    'productCode': productCode,
                    'quantityOrdered': quantityOrdered,
                    'priceEach': priceEach,
                    'orderLineNumber': orderLineNumber
                })
                
                # –û–Ω–æ–≤–ª—é—î–º–æ –∫—ñ–ª—å–∫—ñ—Å—Ç—å –Ω–∞ —Å–∫–ª–∞–¥—ñ
                update_stock = text('''
                    UPDATE products 
                    SET quantityInStock = quantityInStock - :quantityOrdered
                    WHERE productCode = :productCode
                ''')
                
                connection.execute(update_stock, {
                    'quantityOrdered': quantityOrdered,
                    'productCode': productCode
                })
                
                orderLineNumber += 1
            
            return {
                'success': True,
                'message': f'–ó–∞–º–æ–≤–ª–µ–Ω–Ω—è #{orderNumber} —É—Å–ø—ñ—à–Ω–æ —Å—Ç–≤–æ—Ä–µ–Ω–æ –¥–ª—è –∫–ª—ñ—î–Ω—Ç–∞ {customerNumber}'
            }
            
    except Exception as e:
        return {
            'success': False,
            'message': f'–ü–æ–º–∏–ª–∫–∞ –ø—Ä–∏ —Å—Ç–≤–æ—Ä–µ–Ω–Ω—ñ –∑–∞–º–æ–≤–ª–µ–Ω–Ω—è: {str(e)}'
        }

In [12]:
def get_order_info(engine, orderNumber):
    
    try:
        order_query = text('''
            SELECT 
                o.orderNumber,
                o.orderDate,
                o.requiredDate,
                o.shippedDate,
                o.status,
                o.comments,
                c.customerNumber,
                c.customerName,
                c.contactFirstName,
                c.contactLastName,
                c.phone
            FROM orders o
            JOIN customers c ON o.customerNumber = c.customerNumber
            WHERE o.orderNumber = :orderNumber
        ''')

        details_query = text('''
            SELECT 
                od.orderLineNumber,
                od.productCode,
                p.productName,
                od.quantityOrdered,
                od.priceEach,
                (od.quantityOrdered * od.priceEach) as lineTotal
            FROM orderdetails od
            JOIN products p ON od.productCode = p.productCode
            WHERE od.orderNumber = :orderNumber
            ORDER BY od.orderLineNumber
        ''')
        
        with engine.connect() as connection:
            order_result = connection.execute(order_query, {'orderNumber': orderNumber})
            order_df = pd.DataFrame(order_result.fetchall(), columns=order_result.keys())
            
            details_result = connection.execute(details_query, {'orderNumber': orderNumber})
            details_df = pd.DataFrame(details_result.fetchall(), columns=details_result.keys())
            
            if order_df.empty:
                print(f'–ó–∞–º–æ–≤–ª–µ–Ω–Ω—è #{orderNumber} –Ω–µ –∑–Ω–∞–π–¥–µ–Ω–æ')
                return None, None
            
            return order_df, details_df
            
    except Exception as e:
        print(f'–ü–æ–º–∏–ª–∫–∞ –ø—Ä–∏ –æ—Ç—Ä–∏–º–∞–Ω–Ω—ñ —ñ–Ω—Ñ–æ—Ä–º–∞—Ü—ñ—ó –ø—Ä–æ –∑–∞–º–æ–≤–ª–µ–Ω–Ω—è: {str(e)}')
        return None, None

In [13]:
#–°—Ç–≤–æ—Ä—é—î–º–æ –∑–∞–º–æ–≤–ª–µ–Ω–Ω—è
result = create_order(
    engine, 
     customerNumber=103, 
     order_items=[
         ('S10_1678', 50, 95.70),
         ('S10_1949', 25, None),
         ('S10_2016', 10, 120.00)
     ],
     comments='Urgent delivery required by customer'
 )
print(result)

{'success': True, 'message': '–ó–∞–º–æ–≤–ª–µ–Ω–Ω—è #10426 —É—Å–ø—ñ—à–Ω–æ —Å—Ç–≤–æ—Ä–µ–Ω–æ –¥–ª—è –∫–ª—ñ—î–Ω—Ç–∞ 103'}

In [14]:
#–ü–µ—Ä–µ–≤—ñ—Ä—è—î–º–æ –¥–∞–Ω—ñ –≤ –ë–î
order_df, details_df = get_order_info(engine, orderNumber=10426)
display(order_df)
display(details_df)

,orderNumber,orderDate,requiredDate,shippedDate,status,comments,customerNumber,customerName,contactFirstName,contactLastName,phone
0,10426,2025-08-03,2025-08-17,None,In Process,Urgent delivery required by customer,103,Atelier graphique,Carine,Schmitt,40.32.2666

,orderLineNumber,productCode,productName,quantityOrdered,priceEach,lineTotal
0,1,S10_1678,1969 Harley Davidson Ultimate Chopper,50,95.70,4785.00
1,2,S10_1949,1952 Alpine Renault 1300,25,214.30,5357.50
2,3,S10_2016,1996 Moto Guzzi 1100i,10,120.00,1200.00